<h1>kontena-supervisor</h1>

<pre>
<%= instance_number_ascii %>
</pre>
<h2>KONTENA_NODE_NAME: <%= ENV['KONTENA_NODE_NAME'] %></h2>

<fieldset>
  <legend>ENV</legend>
  <pre><% ENV.each_pair do |k,v| %>
<%= k %>=<%= v %><% end %>
  </pre>
</fieldset>
